/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap'); // similar to Avenir?
//font-family: "Avenir", Helvetica, Arial, sans-serif; (from inspecting site)

// Colors
$white: #FFFFFF;
$light-gray: #EEEEEE;
$medium-gray: #555555;
$dark-gray: #333333; // bottom-most footer, text
$blue: #38A7BB;

// Base document colors
$navbar-bg: $white;
$navbar-fg: $dark-gray; 
$navbar-hl: $dark-gray; 
$body-bg: $white;
$body-color: $dark-gray;
$footer-bg: $medium-gray; 
$link-color: $blue;

// Inline code

// Code blocks

/*-- scss:rules --*/

// Element selectors

// ID selectors
#wrapper, img{
    width:100%;
    height: 100%;
}

// Class selectors (self-defined)

// Class selectors (identified by "Inspect"ing the site)

// 
.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    background-color: #38a7bb;
}

// openscapes logo top left; ee https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 200px;
  width: auto;
  padding-right: 6px;
}

.quarto-title-block .quarto-title-banner {
  height: 160%;
}