/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap'); // Sen is similar to Avenir? Imported Regular, Bold, Extra Bold -- can only specify font weights that exist in this Google font set and are imported here

// Colors
$white: #FFFFFF;
$light-gray: #EEEEEE;
$medium-gray: #555555;
$dark-gray: #333333; 
$blue: #38A7BB;

// Base document colors
$navbar-bg: $white;
$navbar-fg: $dark-gray; 
$navbar-hl: $dark-gray; 
$body-bg: $white;
$body-color: $dark-gray;
$footer-bg: $medium-gray; 
$link-color: $blue;

// Inline code

// Code blocks

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////

/*-- scss:rules --*/

/////////////////////////// Element selectors ///////////////////////////

//h1 {
  //color: $dark-gray;
  //text-decoration: underline $blue;
  //text-decoration-color: $blue;
  //text-align: center;
//}

// ID selectors
/*-- #wrapper, img{
    width:100%;
    height: 100%;
} --*/ // NOT WORKING

/////////////////////////// Class selectors (self-defined) ///////////////////////////

.blue-underline {
  text-decoration: underline $blue;
}

.center-text {
  text-align: center;
}


.bold { // NOT WORKING
  font-weight: 800;
}

/////////////////////////// Class selectors (identified by "Inspect"ing the site) ///////////////////////////

// navbar hover color
.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    background-color: #38a7bb;
}

// openscapes logo size/position (navbar top left); see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 200px;
  width: auto;
  padding-left: 50px;
}

.quarto-title-block .quarto-title-banner {
  height: 160%;
}